<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetoeasoftwareApp.produto.home.title">Produtos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produto" [routerLink]="['/produto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetoeasoftwareApp.produto.home.createLabel">
            Create new Produto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="produtos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="projetoeasoftwareApp.produto.nome">Nome</span></th>
            <th><span jhiTranslate="projetoeasoftwareApp.produto.dataCompra">Data Compra</span></th>
            <th><span jhiTranslate="projetoeasoftwareApp.produto.valor">Valor</span></th>
            <th><span jhiTranslate="projetoeasoftwareApp.produto.endereco">Endereco</span></th>
            <th><span jhiTranslate="projetoeasoftwareApp.produto.produtos">Produtos</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produto of produtos ;trackBy: trackId">
                <td><a [routerLink]="['/produto', produto.id, 'view' ]">{{produto.id}}</a></td>
                <td>{{produto.nome}}</td>
                <td>{{produto.dataCompra | date:'mediumDate'}}</td>
                <td>{{produto.valor}}</td>
                <td>
                    <div *ngIf="produto.endereco">
                        <a [routerLink]="['../endereco', produto.endereco?.id, 'view' ]" >{{produto.endereco?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="produto.produtos">
                        <a [routerLink]="['../fatura', produto.produtos?.id, 'view' ]" >{{produto.produtos?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/produto', produto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produto', produto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produto/'+ produto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
