<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produto">
            <h2><span jhiTranslate="projetoeasoftwareApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoeasoftwareApp.produto.nome">Nome</span></dt>
                <dd>
                    <span>{{produto.nome}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.produto.dataCompra">Data Compra</span></dt>
                <dd>
                    <span>{{produto.dataCompra}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.produto.valor">Valor</span></dt>
                <dd>
                    <span>{{produto.valor}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.produto.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="produto.endereco">
                        <a [routerLink]="['/endereco', produto.endereco?.id, 'view']">{{produto.endereco?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.produto.produtos">Produtos</span></dt>
                <dd>
                    <div *ngIf="produto.produtos">
                        <a [routerLink]="['/fatura', produto.produtos?.id, 'view']">{{produto.produtos?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produto', produto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
