<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pagamento">
            <h2><span jhiTranslate="projetoeasoftwareApp.pagamento.detail.title">Pagamento</span> {{pagamento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoeasoftwareApp.pagamento.dataPagamento">Data Pagamento</span></dt>
                <dd>
                    <span>{{pagamento.dataPagamento}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.pagamento.valor">Valor</span></dt>
                <dd>
                    <span>{{pagamento.valor}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.pagamento.nomeBanco">Nome Banco</span></dt>
                <dd>
                    <span>{{pagamento.nomeBanco}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.pagamento.fatura">Fatura</span></dt>
                <dd>
                    <div *ngIf="pagamento.fatura">
                        <a [routerLink]="['/fatura', pagamento.fatura?.id, 'view']">{{pagamento.fatura?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.pagamento.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="pagamento.cliente">
                        <a [routerLink]="['/cliente', pagamento.cliente?.id, 'view']">{{pagamento.cliente?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pagamento', pagamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
