<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="projetoeasoftwareApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetoeasoftwareApp.cliente.nome">Nome</span></dt>
                <dd>
                    <span>{{cliente.nome}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.cliente.email">Email</span></dt>
                <dd>
                    <span>{{cliente.email}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.cliente.telefone">Telefone</span></dt>
                <dd>
                    <span>{{cliente.telefone}}</span>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.cliente.fatura">Fatura</span></dt>
                <dd>
                    <div *ngIf="cliente.fatura">
                        <a [routerLink]="['/fatura', cliente.fatura?.id, 'view']">{{cliente.fatura?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetoeasoftwareApp.cliente.clientes">Clientes</span></dt>
                <dd>
                    <div *ngIf="cliente.clientes">
                        <a [routerLink]="['/categoria-cliente', cliente.clientes?.id, 'view']">{{cliente.clientes?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
