<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cartao-heading" jhiTranslate="projetoeasoftwareApp.cartao.home.createOrEditLabel">Create or edit a Cartao</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cartao.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cartao.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="cartao.numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.dataValidade" for="field_dataValidade">Data Validade</label>
                    <div class="input-group">
                        <input id="field_dataValidade" type="text" class="form-control" name="dataValidade" ngbDatepicker  #dataValidadeDp="ngbDatepicker" [(ngModel)]="cartao.dataValidade"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataValidadeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.nomeTitular" for="field_nomeTitular">Nome Titular</label>
                    <input type="text" class="form-control" name="nomeTitular" id="field_nomeTitular"
                        [(ngModel)]="cartao.nomeTitular" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.codSeguranca" for="field_codSeguranca">Cod Seguranca</label>
                    <input type="number" class="form-control" name="codSeguranca" id="field_codSeguranca"
                        [(ngModel)]="cartao.codSeguranca" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.limite" for="field_limite">Limite</label>
                    <input type="number" class="form-control" name="limite" id="field_limite"
                        [(ngModel)]="cartao.limite" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.statusCartao" for="field_statusCartao">Status Cartao</label>
                    <select class="form-control" name="statusCartao" [(ngModel)]="cartao.statusCartao" id="field_statusCartao" >
                        <option value="BLOQUEADO">{{'projetoeasoftwareApp.StatusCartao.BLOQUEADO' | translate}}</option>
                        <option value="LIBERADO">{{'projetoeasoftwareApp.StatusCartao.LIBERADO' | translate}}</option>
                        <option value="ROUBADO">{{'projetoeasoftwareApp.StatusCartao.ROUBADO' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetoeasoftwareApp.cartao.titular" for="field_titular">Titular</label>
                    <select class="form-control" id="field_titular" name="titular" [(ngModel)]="cartao.titular" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === cartao.titular?.id ? cartao.titular : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nomeTitular}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
